.row-wrapper {
	text-align: left;
	display: flex;
	border-top: 1px #ccc solid;
	padding: 15px 10px;
}

.row-wrapper div:nth-child(-n + 3) {
	flex-basis: 25%;
	text-align: left;
}

.row-wrapper div:nth-last-child(-n + 2) {
	flex-basis: 12.5%;
	text-align: left;
}

.row-wrapper .submit {
	flex-basis: 12.5%;
	text-align: left;
}

input[type='datetime-local'] {
	width: 210px;
}

